@import url('reset.css');

/* ===== General ===== */

html {
	position: relative;
	min-height: 100%;
}

body{
	background: #ffffff;
	color: #101010;
	font: medium  Lato, Helvetica, Arial, sans-serif;
	font-weight: 300;
	margin: 0 auto;
}

p {
	margin-top: -3px;
	margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Josefin Sans";
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.2em;
}

.cl-effect-21 a {
	color: rgb(255, 233, 233);
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
	cursor: pointer;
    
}

.cl-effect-21 a::before,
.cl-effect-21 a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #CAB99B;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-21 a:hover,
.cl-effect-21 a:focus {
	color: #CAB99B;
}

.cl-effect-21 a:hover::before,
.cl-effect-21 a:focus::before,
.cl-effect-21 a:hover::after,
.cl-effect-21 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

/* ===== Officers ===== */

#officer_block {
	margin:0 auto;
	text-align: center;
}

.officer_row  {
	margin: 10px;
	display: inline-block;
	background-size: cover;
	padding: 10px 0;
	height:400px;
	width:300px;
	position: relative;
	text-align: center;
}

.officer_bio {
	display: table-row;
	width: 100%;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	padding: 10px 0;
	background-color:rgba(255, 255, 255, .9);
	line-height: 1.5em;
}

.officer_bio a {
	color:black;
	text-decoration: none;
}

.officer_bio a:hover {
	text-decoration: underline;
}

.officer_position {
	padding-bottom: 10px;
}

/* ===== Contact ===== */

#map {
	border:0;
	width: 100%;
	height: 400px;
}

#address {
	text-align: center;
}

/* ===== Form ====== */

form {
	margin: 0 auto;
}

textarea {
	resize: none;
}

form#rush {
	background: #CCCCCC;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	counter-reset: fieldsets;
	padding: 20px;
	width: 90%;
	max-width: 420px;
}

form#rush fieldset {
	margin-bottom: 10px;
}

form#rush fieldset:last-of-type {
	margin-bottom: 0;
}

form#rush legend {
	color:#9A1914;
	font-size: 1.4em;
	padding-bottom: 10px;
}

form#rush > fieldset > legend:before {
	content: "Step " counter(fieldsets) ": ";
	counter-increment: fieldsets;
}

form#rush ol li {
	border:2px solid white;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding:5px 10px;
	margin-bottom: 2px;
}

form#rush label {
	float:left;
	width: 100%;
}

form#rush input {
	width:97%;
	color: black;
}

form#contact {
	width: 100%;
}

form#contact legend {
	color:#9A1914;
	font-size: 1.4em;
	padding-bottom: 10px;
}

form#contact ol li {
	border:2px solid white;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-bottom: 2px;
}

form#contact label {
	float:left;
	width: 40%;
}

form#contact input {
	width:90%;
	color: black;
}

form textarea {
	width: 91%;
}

/* ===== Smallest ====== */

#main {
	position: relative;
}

.container {
	margin:0 auto;
	width:90%;
}

.page_title {
	/*margin-top: 100px;*/
	text-align: center;
}

.house_img {
	width:100%;
	margin-left: 10px;
	margin-bottom: 5px;
}

header {
	position: relative;
	margin-bottom: 45px;
	text-align: center;
    width: 100%;
    z-index: 800;
    background-color: #C1332D;
}

header .logo {
    z-index: 1000;
}

#banner {
	position: absolute;
	top:0;
	height: 75px;
	width: 100%;
	border-bottom: 5px solid #CAB99B;
	background-color:rgba(174,143,91,.8);
}

nav {
	width: 100%;
}

nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #000;
	width: 100%;
	text-decoration: none;
	text-transform: lowercase;
}

nav a:hover,
nav a:focus {
	outline: none;
}

.nav-content {
	text-align: justify;
	display: none;
}

.nav-content li {
	display: inline;
	font-family: "Josefin Sans";
	font-size: 1.4em;
	line-height: 30px;
	text-align: center;
}

.nav-content .stretch {
	display: inline-block;
	width: 100%;
	*display: inline;
	zoom:1;
}


footer {
	text-align: right;
	width: 100%;
	left: 0;
	bottom: 0;
}

footer img {
	margin-left: 5px;
	margin-bottom: 10px;
}

.twitter-timeline {
	float:;
}

@media screen and (min-width: 380px) {
	header {
		margin-bottom: 25px;
	}

	nav {
		height: 25px;
	}

	nav a {
		width: auto;
	}

	.nav-content {
		height: 25px;
		display: block;
	}

	#pull {
		display: none;
	}
}

@media screen and (min-width: 680px) {
	header {
		height: 75px;
	}

	header a {
	    float: left;
	}

	nav a {
		top: 25px;
	}

	.nav-content {
		float:right;
		display: block;
	}

	.nav-content li {
		float: left;
		margin-right: 10px;
		line-height: 30px;
	}

	.nav-content li:last-of-type {
		margin-right: 0;
	}

	#pull {
		display: none;
	}

	.cl-effect-21 a::before,
	.cl-effect-21 a::after {
		background: #FFFFFF;
	}

	.cl-effect-21 a:hover,
	.cl-effect-21 a:focus {
		color: #FFFFFF;
	}

	.page_title {
		margin-top: 60px;
	}

	.house_img {
		width:50%;
	}

	#map {
		float: left;
		margin-right: 15px;
		width: 60%;
		height: 480px;
	}

	#address {
		text-align: left;
	}

	form#contact {
		width: 35%;
		float: left;
	}
	.officer_row  {
		height:450px;
		width:380px;
	}

}

@media screen and (min-width: 960px) {
	.container {
		max-width: 960px;
	}
}
