<!DOCTYPE html>
<html lang="en">
<head>
    <title>Theta Chi | Officers</title>
    <meta name="description" content="The Alpha Nu chapter of Theta Chi always strives for excellence in academics, service, and campus involvement. As one of the largest social fraternities on Tech&#39s campus," />
    
    <!--#include virtual="includes/head_common.html" -->
</head>

<body>
<header id="header">
    <!--#include virtual="includes/header.html" -->
</header>

<section id="main">
    <div class="page_title">
        <h1>2016 Executive Committee</h1>
    </div>
    <br />
    <div id="officer_block">
        <div class="officer_row" style="background-image: url(images/ec/DelSordo.jpg)">
            <div class="officer_bio">
                <h1 class="officer_position">President</h1>
                Stephen DelSordo<br />Material Science Engineering<br />Manassas, VA<br /><a href="president@gtthetachi.org">president@gtthetachi.org</a>
            </div>
        </div>
        <div class="officer_row" style="background-image: url(images/ec/Kizirian.jpg)">
            <div class="officer_bio">
                <h1 class="officer_position">Vice President</h1>
                Christian Peters<br />Mechanical Engineering<br />Canton, GA<br /><a href="vp@gtthetachi.org">vp@gtthetachi.org</a>
            </div>
        </div>
        <div class="officer_row" style="background-image: url(images/ec/Burr.jpg)">
            <div class="officer_bio">
                <h1 class="officer_position">VP of Health and Safety</h1>
                Jacob Burr<br />Biomedical Engineering<br />Augusta, GA<br /><a href="vphs@gtthetachi.org">vphs@gtthetachi.org</a>
            </div>
        </div>
        <div class="officer_row" style="background-image: url(images/ec/Driban.jpg)">
            <div class="officer_bio">
                <h1 class="officer_position">Secretary</h1>
                Andrew Driban<br />Mechanical Engineering<br />Wilmington, DE<br /><a href="secretary@gtthetachi.org">secretary@gtthetachi.org</a>
            </div>
        </div>
        <div class="officer_row" style="background-image: url(images/ec/Lester.jpg)">
            <div class="officer_bio">
                <h1 class="officer_position">Treasurer</h1>
                Colin Lester<br />Mechanical Engineering<br />Silver Spring, MD<br /><a href="treasurer@gtthetachi.org">treasurer@gtthetachi.org</a>
            </div>
        </div>
        <div class="officer_row" style="background-image: url(images/ec/Rich.jpg)">
            <div class="officer_bio">
                <h1 class="officer_position">Marshal</h1>
                Ryan Rich<br />Mechanical Engineering<br />Augusta, GA<br /><a href="marshal@gtthetachi.org">marshal@gtthetachi.org</a>
            </div>
        </div>
        <div class="officer_row" style="background-image: url(images/ec/Bond.jpg)">
            <div class="officer_bio">
                <h1 class="officer_position">Rush Chairman</h1>
                Charlie Bond<br />Chemical and Biomelecular Engineering<br />Los Angeles, CA<br /><a href="rush@gtthetachi.org">rush@gtthetachi.org</a>
            </div>
        </div>
        <footer>
            <!--#include virtual="includes/footer.html" -->
        </footer>
    </div>
</section>
</body>
</html>
