<!DOCTYPE html>
<html lang="en">
<head>
    <title>Theta Chi | Join</title>
    <meta name="description" content="The Alpha Nu chapter of Theta Chi always strives for excellence in academics, service, and campus involvement. As one of the largest social fraternities on Tech&#39s campus," />

    <!--#include virtual="includes/head_common.html" -->
</head>

<body>
<header id="header">
    <!--#include virtual="includes/header.html" -->
</header>

<section class="body-content">
    <div class="container">
        <h1>Rush</h1>
        <p class="todo">
            Need a couple paragraphs about what rush is, why we are great, etc.  This should be different than the intro and about sections!
            <br/>
            We should also have the rush@gtthetachi.org contact and somehow have up to date information on rush events.
            </p>
        <footer>
            <!--#include virtual="includes/footer.html" -->
        </footer>
    </div>
</section>
</body>
</html>
