<header>
  <div class="container">
    <a class="logo" href="index.html"><img src="{{ "assets/images/logo.png" | relative_url }}"></a>
    <nav>
      <ul class="nav-content cl-effect-21">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="rush.html">Rush</a></li>
        <li><a href="gallery.html">Pictures</a></li>
        <li><a href="officers.html">Officers</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li class="stretch"></li>
      </ul>
      <a href="#" id="pull">menu</a>
    </nav>
  </div>
</header>
